*{

    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial, helvetica, sans-serif;
}

.container{
    width:100%;
    min-height: 100vh;
    background:linear-gradient(185deg, #fffd6e ,#e1a7f0);
    padding: 10px;

}

.todo-app{
    max-width: 545px;
    background-color: #ffffff;
    margin: 100px auto;
    padding: 40px 30px 70px;
    border-radius: 5px;
}

.todo-app h2{
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 30px; 
}

.todo-app h2 img{
    width: 35px;
    margin-left: 10px;
}

.todo-app:hover{
    box-shadow: 1px 2px 2px 3px black;

}

.row{
    display: flex;
    align-items:center;
    justify-content: space-between;
    background-color: rgb(238, 221, 216);
    border-radius:10px;
    padding-left: 20px;
    margin-bottom: 25px;
}
input{
    flex:1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 14px;
}

button{
    border: none;
    outline: none;
    padding: 16px 50px;
    color: #002765;
    font-size: 16px;
    cursor: pointer;
    background-color: rgb(145, 230, 100);
    border-radius: 10px;
}

button:hover{
    background-color: #bbc6d3;
}

ul li{
    list-style:none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position:relative;
}

ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 8px;
    left: 16px;

}

ul li.checked{
    color: #555;
    text-decoration: line-through;
}

ul li.checked::before{
    color:#666;
    background-image: url(images/checked.png);
}

ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #ef2a2a;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

ul li span:hover{
    background: #615858;
    
}