*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: 100vh;
    width:100%;
    background-color: rgb(222, 245, 183);
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-box{
    width: 400px;
    position: relative;
}

.input-box input{
    width: 100%;
    height: 60px;
    padding: 0px 20px;
    border: 1px solid #000000;
    outline: none;
    color: #100e0e;
    border-radius: 5px;
    font-size: 16px;
    background: transparent;
}

button{
    width: 3px;
    height: 3px;
    background: transparent;
    border: none;
    outline: none;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 16%;
    left: 85%;
    transform: translateY(-48%);
}

button img{
    width: 35px;
}
#message{
    position: absolute;
    margin-top: 5px;
    color:#061f0c;
    font-size: 16px;
    display: none;
}


input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}

input[type="password"]::-webkit-credentials-auto-fill-button,
input[type="password"]::-webkit-textfield-decoration-container {
  display: none !important;
}

input[type="password"]::-webkit-textfield-decoration {
  display: none;
}